/** @format */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  height: 100%;
}

html {
  height: 100%;
}

a {
  color: rgb(34, 30, 247);
  text-decoration: none;
}

a:hover {
  color: rgb(247, 141, 30);
  text-decoration: underline;
}
